.divbox {
    display: inline-flex;
}

table, th, td {
    border: 1px solid lightgray;
}

tr {
    align-content: center;
}

th {
    bgcolor: #04AA6D;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tbody tr:hover {
    background-color: lightgray
}


input[type="hidden"] {
    display: none;
}

