.divbox {
    display: inline-flex;
}
table, th, td {
    border: 1px solid lightgray;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
}
tr:nth-child(even){background: #f2f2f2;}
tr{align-content: center;}
